@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #fef9c3;
}
.chalk-font {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}
.sketchy-font {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chalk-title {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;
}